* {margin:0; padding:0;}
body,html{width:100%;height:100%;overflow-x: hidden;font-family: "微软雅黑";background: #fff;}

.section{
    padding-bottom: 1.96rem;
}

.banner-box{
    width: 100%;
    height: 14.41rem;
    background-image: url('../img/banner-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.banner-tit{
    width: 100%;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.banner-tit1{
    width: 100%;
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.banner-tit-top{
    padding-top: 2.08rem;
}

.banner-txt{
    width: 100%;
    font-size: 0.45rem;
    color: #DFE4FF;
    text-align: center;
    margin: 0;
    line-height: 0.73rem;
}

.banner-txt-top{
    margin-top: 0.48rem;
}

.banner-btn{
    width: 5.17rem;
    height: 1.27rem;
    border-radius: 0.12rem;
    margin: 0.91rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF7177;
    font-size: 0.4rem;
    color: #fff;
    border: 0;
}

.section-one, .section-two{
    width: 100%;
}

.one-head{
    width: 100%;
    height: 3.47rem;
    position: relative;
}

.one-h-box {
    width: 100%;
    padding-top: 1.07rem;
}

.one-h-tit{
    color: #191935;
    font-size: 0.67rem;
    text-align: center;
    font-weight: 800;
}

.one-h-img{
    width: 1.12rem;
    height: 1.12rem;
    position: absolute;
    top: 0.84rem;
    right: 0.8rem;
}

.one-sec{
    width: 8.93rem;
    height: 4.96rem;
    margin: 0 auto;
    background-image: url('../img/sec-one-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.one-sec ul{
    width: 100%;
    padding-top: 0.51rem;
}

.one-sec ul li {
    font-size: 0.35rem;
    color: #fff;
    line-height: 0.77rem;
    display: flex;
    align-items: center;
    padding-left: 0.47rem;
}

.one-sec ul li span{
    width: 0.21rem;
    height: 0.21rem;
    border-radius: 100%;
    display: inline-block;
    background: #D2D2D2;
    margin-right: 0.24rem;
}

.two-head{
    width: 100%;
    height: 2.36rem;
}

.two-head .two-h-tit{
    width: 100%;
    text-align: center;
    font-size: 0.63rem;
    color: #FF484F;
    padding-top: 0.35rem;
    font-weight: 600;
}

.two-head .two-h-txt{
    width: 6.93rem;
    height: 0.51rem;
    color: #393939;
    font-size: 0.36rem;
    margin: 0 auto;
    position: relative;
    margin-top: 0.15rem;
}

.two-h-txt span{
    color: #FF484F;
}

.two-h-txt::before{
    content: '';
    width: 0.51rem;
    height: 3px;
    background: #D8D8D8;
    border-radius: 1.5px;
    position: absolute;
    left: -0.7rem;
    top: 0.2rem;
}

.two-h-txt::after{
    content: '';
    width: 0.51rem;
    height: 3px;
    background: #D8D8D8;
    border-radius: 1.5px;
    position: absolute;
    right: -0.7rem;
    top: 0.2rem;
}

.two-sec{
    padding: 0 0.59rem;
}

.select-tit{
    width: 100%;
    font-size: 0.4rem;
    color: #393939;
    font-weight: 700;
}

.select-tit span{
    color: #FF484F;
}

.select-box {
    width: 100%;
    overflow: hidden;
    padding-top: 0.646rem;
}

.select-radio-box{
    width: 100%;
    padding-top: 0.36rem;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select-checkbox-li {
    width: 4rem;
    float: left;
    height: 0.53rem;
    margin-bottom: 0.4rem;
    font-size: 0.37rem;
    color: #FF484F;
    display: flex;
    align-items: center;
}

.select-radio-li {
    margin-bottom: 0.4rem;
    height: 0.53rem;
    font-size: 0.37rem;
    color: #FF484F;
    display: inline-flex;
    align-items: center;
    /* float: left; */
    margin-right: 0.52rem;
}

.select-radio-li:nth-child(3n){
    margin-right: 0;
}

input.checkbox[type="checkbox"], input.radio[type="radio"]{
    width:0.25rem;
    height:0.25rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    line-height: 0.67rem;
    position: relative;
    margin: 0.05rem 0.3rem 0.05rem 0.23rem;
}
input.checkbox[type="checkbox"]::before, input.radio[type="radio"]::before{
    content: "";
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    background: #fff;
    width: 0.37rem;
    height: 0.37rem;
    border: 1px solid #8792A2;
    border-radius: 100%;
}
input.checkbox[type="checkbox"]:checked::before, input.radio[type="radio"]:checked::before{
    content: "\2022";
    background-color: #fff;
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    width:0.37rem;
    height: 0.37rem;
    border: 1px solid #FF484F;
    color:#FF484F;
    font-size: 1rem;
    line-height: 0.45rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    /* align-items: center; */
}

.two-form{
    padding: 0 0.53rem;
}

.two-input-box{
    width: 100%;
    height: 1.12rem;
    position: relative;
}

.two-form-input {
    width: 90%;
    height: 1.12rem;
    background: #F2F2F2;
    color: #333;
    padding: 0 5%;
    border: 0;
    outline: none;
    margin-bottom: 0.27rem;
    font-size: 0.37rem;
    border-radius: 5px;
}

.position-input{
    position: absolute;
    top: 0;
    left: 0;
}

.two-input-box .popup-form-input.position-input{
    margin: 0;
}

input.two-form-input::-webkit-input-placeholder{
    color:#BDBDBD;
}

.form-must{
    position: absolute;
    font-size: 0.37rem;
    left: 2.43rem;
    line-height: 1.12rem;
    top: 0;
    display: inline-block;
    color: #FF484F;
}

.two-form-area {
    width: 90%;
    background: #F2F2F2;
    color: #333;
    padding: 0.29rem 5%;
    border: 0;
    outline: none;
    font-size: 0.37rem;
    font-family: "微软雅黑";
    margin-top: 0.27rem;
    border-radius: 5px;
}

textarea.two-form-area::-webkit-input-placeholder{
    color:#BDBDBD;
    font-size: 0.37rem;
    font-family: "微软雅黑";
}

.two-form-btn{
    width: 100%;
    height: 1.27rem;
    margin: 0 auto;
    display: block;
    border: 0;
    outline: none;
    background: #FF484F;
    border-radius: 5px;
    margin-top: 0.28rem;
    color: #fff;
    font-size: 0.45rem;
    margin-bottom: 0.56rem;
    text-align: center;
    line-height: 1.27rem;
}

.section-thr {
    padding: 1.04rem 0.71rem 0;
}

.sec-title{
    font-size: 0.67rem;
    color: #333333;
    width: 100%;
    font-weight: 800;
    margin-bottom: 0.33rem;
}

.sec-text {
    width: 100%;
    line-height: 0.53rem;
    font-size: 0.37rem;
    color: #8F8F8F;
}

.sec-thr-ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.51rem;
    padding-bottom: 0.60rem;
}

.sec-thr-ul li {
    /* width: 50%; */
}
.sec-thr-ul li img{
    width: 3.48rem;
    height: 2.44rem;
    display: block;
}

.sec-thr-ul li span{
    width: 3.48rem;
    text-align: center;
    font-size: 0.43rem;
    color: #333333;
    text-align: center;
    display: inline-block;
    margin: 0.36rem 0 0.47rem;
    font-weight: 800;
}

.section-four{
    padding: 0.96rem 0.67rem 0;
    height: 7.87rem;
    background: #F6F9FF;
}

.sec-four-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.07rem;
    align-items: center;
}

.sec-four-ul {
    width: 5.09rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-top: -0.59rem;
}

.sec-four-ul li {
    display: flex;
    align-items: center;
    margin-right: 0.51rem;
    margin-top: 0.59rem;
}
.sec-four-ul li i{
    width: 0.21rem;
    height: 0.21rem;    
    display: block;
    margin-right: 0.13rem;
    background: #339BD4;
    border-radius: 100%;
}

.sec-four-ul li span{
    text-align: center;
    font-size: 0.37rem;
    color: #363A44;
    text-align: center;
    display: inline-block;
}


.sec-four-img {
    width: 3.93rem;
    height: 2.6rem;
    background: #fff;
}

.section-five {
    padding: 0.98rem 0.53rem 1.2rem;
}

.sec-five-label{
    padding: 0.43rem 0 0.65rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-five-label span{
    padding: 0 0.33rem;
    height: 0.77rem;
    line-height: 0.77rem;
    color: #3C4DB1;
    font-size: 0.33rem;
    background: rgba(60, 77, 177, 0.1);
    border-radius: 0.45rem;
    display: block;
}

.sec-five-pic{
    width: 8.93rem;
    height: 5.27rem;
    display: block;
}

.section-six{
    width: 100%;
    height: 8.57rem;
    background-image: url('../img/sec-six-bg.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.sec-six-tit {
    width: 100%;
    font-size: 0.67rem;
    line-height: 0.93rem;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    padding-top: 0.6rem;
}

.sec-six-txt {
    width: 100%;
    font-size: 0.37rem;
    color: #A9B6FF;
    text-align: center;
    margin-top: 0.19rem;
}

.sec-six-tel{
    width: 100%;
    font-size: 0.37rem;
    color: #FF484F;
    text-align: center;
    margin-top: 0.17rem;
}

.sec-six-ul {
    width: 100%;
    margin-top: 1.06rem;
}

.sec-six-ul li {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.19rem;
}

.sec-six-ul li i{
    width: 0.31rem;
    height: 0.31rem;  
    margin-left: 0.53rem;
    margin-right: 0.17rem;
    background-image: url('../img/xuanzhong-icon.png');
    background-size: 100% 100%;
    background-position: center center;
    display: block;
}

.sec-six-ul li span{
    font-size: 0.37rem;
    color: #B1C5FF;
    letter-spacing: 1px;
}

.section-seven{
    width: 9.2rem;
    height: 12.56rem;
    box-shadow: 0px 0px 10px 2px rgba(108, 134, 150, 0.19);
    margin: -1.24rem auto 0;
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    border-radius: 5px;
}

.two-head .two-h-tit.seven-tit{
    padding-top: 0.46rem;
}

.section-eight{
    padding: 0.85rem 0.53rem 0.61rem;
}

.sec-egh-tit{
    font-size: 0.67rem;
    color: #333333;
    width: 100%;
    font-weight: 800;
    margin-bottom: 0.19rem;
    text-align: center;
}

.sec-egh-ftxt{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    color: #4D4D4D;
    margin-bottom: 0.23rem;
}

.sec-egh-ftxt span{
    color: #FF484F;
}

.sec-egh-txt {
    width: 100%;
    font-size: 0.37rem;
    color: #8F8F8F;
    text-align: center;
    margin-bottom: 0.57rem;
}

.sec-egh-ul{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec-egh-ul li {
    width: 4.23rem;
    margin-bottom: 0.41rem;
}

.sec-egh-ul li img{
    width: 100%;
    height: 2.8rem;
}

.sec-egh-ul li p {
    width: 100%;
    font-size: 0.43rem;
    color: #333333;
    margin-top: 0.39rem;
}

.sec-egh-ul li span{
    width: 100%;
    font-size: 0.37rem;
    color: #929292;
    margin-top: 0.12rem;
}

.section-nine{
    width: 100%;
    height: 7.04rem;
    background-image: url('../img/section-nine-bg.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.sec-nine-title{
    width: 100%;
    font-size: 0.64rem;
    color: #fff;
    padding: 1.13rem 0 0;
    text-align: center;
    font-weight: 400;
}

.sec-nine-btn {
    width: 4.03rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    background: #F69D27;
    border-radius: 5px;
    outline: none;
    margin: 0.6rem auto 0.75rem;
    font-size: 0.4rem;
    color: #fff;
}

.sec-nine-tel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-nine-tel img{
    width: 0.41rem;
    height: 0.37rem;
    display: block;
    margin-right: 0.31rem;
}

.sec-nine-tel span {
    font-size: 0.48rem;
    color: #F69D27;
}

.section-btn{
    width: 100%;
    height: 1.31rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.sec-btn-box {
    width: 50%;
    height: 1.31rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-btn-box img {
    width: 0.41rem;
    height: 0.41rem;
    margin-right: 0.15rem;
}

.sec-btn-box span{
    font-size: 0.43rem;
    color: #fff;
}

.btn-blue{
    background: #1B2139;
}

.btn-red {
    background: #FF484F;
}

/* 弹窗内容 */
.form-popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 20;
    display: none;
}

.form-popup-sec{
    width: 9.2rem;
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6rem;
    margin-left: -4.6rem;
    background-image: url('../img/popup-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.close-icon {
    width: 0.77rem;
    height: 0.77rem;
    position: absolute;
    top: -1rem;
    right: 0.2rem;
    border-radius: 100%;
}

.popup-title{
    width: 100%;
    font-size: 0.8rem;
    color: #020516;
    text-align: center;
    padding-top: 0.65rem;
    margin-bottom: 0.19rem;
}

.popup-txt{
    width: 100%;
    font-size: 0.37rem;
    color: #6D5F0C;
    text-align: center;
}

.popup-ul{
    width: 7.09rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.35rem auto 0;
}

.popup-ul li{
    font-size: 0.33rem;
    color: #FAD500;
    width: 1.95rem;
    height: 0.75rem;
    text-align: center;
    line-height: 0.75rem;
    background: #1B1A22;
    border-radius: 0.37rem;
    margin-bottom: 0.21rem;
}

.popup-form{
    width: 8.19rem;
    margin: 0.91rem auto 0;
}

.popup-form .two-input-box{
    margin-bottom: 0.53rem;
}

.popup-form .two-input-box:nth-child(2){
    margin-bottom: 0;
}

.popup-form-input {
    width: 90%;
    height: 1.12rem;
    background: #fff;
    color: #333;
    padding: 0 5%;
    border: 0;
    outline: none;
    margin: 0;
    font-size: 0.37rem;
    border: 1px solid #979797;
    border-radius: 5px;
}

input.popup-form-input::-webkit-input-placeholder{
    color:#6D7686;
}

.popup-must{
    border: 1px solid rgba(0, 0, 0, 0)
}

.form-txt{
    color: #CBCBCB;
    font-size: 0.32rem;
    margin: 0.4rem 0;
    display: block;
}

.popup-form-btn{
    width: 100%;
    height: 1.2rem;
    margin: 0 auto;
    display: block;
    border: 0;
    outline: none;
    background: #1B1A22;
    border-radius: 5px;
    color: #FAD502;
    font-size: 0.43rem;
    text-align: center;
    line-height: 1.2rem;
}